<html>
  <head>
    <title>{{.Title}}</title>
  </head>
  <body>
    <section>
      <div id="info">
	<table>
	  <tr>
	    <td width="20%">
	      &nbsp;
	    </td>
	    <td>
	      <div class="image">
		<a href="https://suse.com"><img src="/logos/SUSE-Logo.svg"/></a>
	      </div>
	    </td>
	    <td width="60%">
	      &nbsp;
	    </td>
	    <td>
	      <div class="image">
		<a href="https://kubic.opensuse.org"><img src="/logos/openSUSE-Kubic-Logo.png"/></a>
	      </div>
	    </td>
	    <td width="20%">
	      &nbsp;
	    </td>
	  </tr>
	</table>
      </div>
      <div class="content">
	<div id="message">
	  {{.Message}}: {{.Workdays}}
	</div>
	<div id="info">
	  <table>
	    <tr>
	      {{if .Workdays2}}
	      <td width="20%">
		&nbsp;
	      </td>
	      <td>
		<table>
		  {{if .Workdays2Title}}
		  <tr>
		    <th colspan="2" style="text-align:center">
		      {{.Workdays2Title}}
		    </th>
		  </tr>
		  {{end}}
		  <tr>
		    <th>{{.Workdays2Label}}:</th>
		    <td>{{.Workdays2}}</td>
		  </tr>
		  <tr>
		    <th>{{.StartDate2Label}}:</th>
		    <td>{{.StartDate2}}</td>
		  </tr>
		  <tr>
		    <th>{{.EndDate2Label}}:</th>
		    <td>{{.EndDate2}}</td>
		  </tr>
		  <tr>
		    <th>Weeks:</th>
                    <td>{{.Weeks2}}</td>
		</table>
	      </td>
	      <td width="10%">
		&nbsp;
	      </td>
	      {{end}}
	      {{if .Workdays1}}
	      {{if not .Workdays2}}
	      <td width="33%">
		&nbsp;
	      </td>
	      {{end}}
	      <td>
		<table>
		  {{if .Workdays1Title}}
		  <tr>
		    <th colspan="2" style="text-align:center">
		      {{.Workdays1Title}}
		    </th>
		  </tr>
		  {{end}}
		  <tr>
		    <th>{{.Workdays1Label}}:</th>
		    <td>{{.Workdays1}}</td>
		  </tr>
		  <tr>
		    <th>{{.StartDate1Label}}:</th>
		    <td>{{.StartDate1}}</td>
		  </tr>
		  <tr>
		    <th>{{.EndDate1Label}}:</th>
		    <td>{{.EndDate1}}</td>
		  </tr>
		  <tr>
		    <th>Weeks:</th>
                    <td>{{.Weeks1}}</td>
		</table>
	      </td>
	      <td width="10%">
		&nbsp;
	      </td>
	      {{end}}
	      {{if or (.Workdays2) (.Workdays1)}}
	      {{else}}
	      <td width="50%">
		&nbsp;
	      </td>
	      {{end}}
	      <td>
		<table>
		  {{if .WorkdaysTitle}}
		  <tr>
		    <th colspan="2" style="text-align:center">{{.WorkdaysTitle}}</th>
		  </tr>
		  {{end}}
		  <tr>
		    <th>{{.WorkdaysLabel}}:</th>
		    <td>{{.Workdays}}</td>
		  </tr>
		  <tr>
		    <th>{{.StartDateLabel}}:</th>
		    <td>{{.StartDate}}</td>
		  </tr>
		  <tr>
		    <th>{{.EndDateLabel}}:</th>
		    <td>{{.EndDate}}</td>
		  </tr>
		  <tr>
		    <th>Weeks:</th>
		    <td>{{.Weeks}}</td>
		  </tr>
		</table>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </section>
    <style>
      @font-face {
        font-family: 'work';
        font-weight: 300;
        src: url(/fonts/WorkSans-Light.ttf) format('truetype');
      }
      @font-face {
        font-family: 'work';
        font-weight: 400;
        src: url(/fonts/WorkSans-Regular.ttf) format('truetype');
      }
      @font-face {
        font-family: 'work';
        font-weight: 500;
        src: url(/fonts/WorkSans-Medium.ttf) format('truetype');
      }
      @font-face {
        font-family: 'work';
        font-weight: 600;
        src: url(/fonts/WorkSans-SemiBold.ttf) format('truetype');
      }
      @font-face {
        font-family: 'work';
        font-weight: 700;
        src: url(/fonts/WorkSans-Bold.ttf) format('truetype');
      }
      @font-face {
        font-family: 'work';
        font-weight: 800;
        src: url(/fonts/WorkSans-ExtraBold.ttf) format('truetype');
      }
      body {
        font-family:'work', Arial, sans-serif;
        text-align: center;
        background: #0c322c;
        color: white;
      }
      div.image {
        margin: 40px 0;
      }
      div.content {
        color: white;
      }
      .content #message {
        margin: 10px 0 50px 0;
        padding: 30px 0;
        font-size: 32pt;
        font-weight: 500;
        color: black;
        background-color: #d7d7d7;
        border: 0px
        border-top: 0px solid #909090;
        border-bottom: 0px solid #909090;
      }
      .content #info {
        margin: 0 auto;
        font-size: 12pt;
        font-weight: 300;
      }
      .content #info table {
        margin: 10px auto;
      }
      .content #info table th {
        text-align: right;
        padding-right: 20px;
      }
      .content #info table td {
        text-align: left;
      }
    </style>
  </body>
</html>
